
.col-md-4{
    margin-left: 30%;
    margin-top: 15%;
 }
 .panel-primary{
     background-color: #e0ebf3 !important;
 }
 .panel-heading{
     background-color: #1d5063 !important;
 }
 .btn-primary{
     background-color: #1d5063;
 }
 