<!DOCTYPE html>
<html lang="en">
<head>
  <title>
    </title>
</head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<body>

<div class="col-md-4">
<div class="login-panel panel panel-primary">       
                    <div class="panel-heading">
                        <h3 class="panel-title">AELP<img src="https://media.glassdoor.com/sqll/522008/slk-global-solutions-squarelogo-1481220096145.png" align="right" width="40px" height="35px"><br> Career edge </h3>
                    </div>
                    <div class="panel-body">
                      <form role="form">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="E-mail" name="email" type="email" autofocus="" required>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="password" type="password" value="" required>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                    </label>
                                </div>
                                <button class="btn btn-sm btn-primary" routerLink="screen1">Login</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
</div>


