
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <img src="https://media.glassdoor.com/sqll/522008/slk-global-solutions-squarelogo-1481220096145.png" width="20px" height="20px">
        <h1 style="padding-left: 15px;color:beige">Career Edge</h1>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <p style="padding-left:980px;"><a href=""> Home |</a>
            <a href=""> Feedback |</a>
            <a href=""> Help |</a>
            <a href=""> Logout</a>
        <img src=""  width="20px" height="20px"></p>
         
        </div>
      </nav>
      <nav class="navbar navbar-expand-lg navbar-light bg-success">
       
        <h3 style="color:#5cb3db">Automated Enterprise Learning Planner</h3>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <p style="padding-left:710px;">Proxy:Virupakshayya (P4:Project leader)</p>
        </div>
      </nav>
      <div>
      <nav class="navbar navbar-light bg-default">
 

    <nav class="navbar navbar-expand-lg navbar-light bg-default">
        <img src="assets/role.PNG" width="30px" height="30px">
        <h3 style="padding-left: 10px;">ROLE SPECIFIC TRAINING</h3><br>
    </nav>
           
          </nav>
          <div class="card bg-light text-white"><br>
          <table class="table table-striped" >
            <thead>
              <tr>
                <th scope="col">Course Title</th>
                <th scope="col">Category</th>
                <th scope="col">Due Date</th>
                <th scope="col">Source</th>
            
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Virtual Reality</th>
                <td>Advanced Technology</td>
                <td>20-Nov-20</td>
                <td></td>
                
              </tr>
              <tr>
                <th scope="row">Big Data</th>
                <td>Big Data</td>
                <td>31-Dec-20</td>
                <td></td>
                
              </tr>
              
             
            </tbody>
          </table>
        </div>   <br>  
        <nav class="navbar navbar-expand-lg navbar-light bg-default">
            <img src="assets/most.PNG" width="30px" height="30px">
            <h3 style="padding-left: 10px;">MOST POPULAR COURSES</h3>
        </nav>
              <div class="card bg-light text-white"><br>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Course Title</th>
                    <th scope="col">Category</th>
                    <th scope="col">Role Name</th>
                    <th scope="col">Popularity</th>
                   
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Python</th>
                    <td>Data</td>
                    <td>Engineer-Software</td>
                    <td>80%</td>
                   
                    
                  </tr>
                  <tr>
                    <th scope="row">PHP</th>
                    <td>Project Management</td>
                    <td>Business Analyst</td>
                    <td>95%</td>
                
                    
                  </tr>
                 
                </tbody>
              </table>
            </div>  
            <button type="button" class="btn btn-primary btn-mr-md-2" style="padding:10px;margin-left: 1400px;margin-top: 10px;" (click)=onclick($event)>BACK</button>
           
                