
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <img src="https://media.glassdoor.com/sqll/522008/slk-global-solutions-squarelogo-1481220096145.png" width="20px" height="20px">
        <h1 style="padding-left: 15px;color:beige">Career Edge</h1>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <p style="padding-left:980px;"><a href=""> Home |</a>
            <a href=""> Feedback |</a>
            <a href=""> Help |</a>
            <a href=""> Logout</a>
        <img src=""  width="20px" height="20px"></p>
         
        </div>
      </nav>
      <nav class="navbar navbar-expand-lg navbar-light bg-success">
       
        <h3 style="color:#5cb3db">Automated Enterprise Learning Planner</h3>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <p style="padding-left:710px;">Proxy:Virupakshayya (P4:Project leader)</p>
        </div>
      </nav>
      <div>
      <nav class="navbar navbar-light bg-default">
 
<div class="container">
	<div class="row">
	    <form class="col-mr-sm-2">
	        <select class="form-control select2">
	           <option>Explore By Category</option> 
	           <option>A</option> 
	           <option>B</option> 
	           <option>C</option> 
	           <option>D</option> 
	        </select>
	    </form>
 	</div>
</div>
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </nav>
    </div><br>
    <nav class="navbar navbar-expand-lg navbar-light bg-default">
        <img src="assets/logo.PNG" width="30px" height="30px">
        <h3 style="padding-left: 10px;">RECENT COURSES</h3><br>
    </nav>
        <nav class="navbar navbar-expand-lg navbar-light bg-default">
            <a href="#" class="btn btn-light btn-lg active"style="margin:20px" role="button" aria-pressed="true">In Progress</a>
            <a href="#" class="btn btn-light btn-lg active" role="button" aria-pressed="true">Completed</a>
           
          </nav>
          <div class="card bg-light text-white"><br>
          <table class="table table-striped" >
            <thead>
              <tr>
                <th scope="col">Course Title</th>
                <th scope="col">Category</th>
                <th scope="col">% Complete</th>
                <th scope="col">Source</th>
                <th scope="col">Assesment Score</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Virtual Reality</th>
                <td>Advanced Technology</td>
                <td>100%</td>
                <td>Internal</td>
                <td>85%</td>
                <td><a href="" alt="GO to Courses"></a></td>
              </tr>
              <tr>
                <th scope="row">Big Data</th>
                <td>Big Data</td>
                <td>35%</td>
                <td>External</td>
                <td>90%</td>
                <td><a href="" alt="GO to Courses"></a></td>
              </tr>
              
             
            </tbody>
          </table>
        </div>   <br>  
        <nav class="navbar navbar-expand-lg navbar-light bg-default">
            <img src="assets/recommended.PNG" width="30px" height="30px">
            <h3 style="padding-left: 10px;">RECOMMENDED COURSES</h3>
        </nav>
              <div class="card bg-light text-white"><br>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Course Title</th>
                    <th scope="col">Category</th>
                    <th scope="col">Overall Rating</th>
                    <th scope="col">Source</th>
                    <th scope="col">Company Name</th>
                    <th scope="col">Descriptiom</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Java</th>
                    <td>Advanced Technology</td>
                    <td>4.4</td>
                    <td>External</td>
                    <td></td>
                    <td></td>
                    
                  </tr>
                  <tr>
                    <th scope="row">UiPath</th>
                    <td>RPA</td>
                    <td>4.7</td>
                    <td>Internal</td>
                    <td></td>
                    <td></td>
                    
                  </tr>
                 
                </tbody>
              </table>
            </div>  
            <button type="button" class="btn btn-primary btn-mr-md-2" style="padding:10px;margin-left: 1400px;margin-top: 10px;" (click)=onclick($event)>Next</button>
           
                